@page "/counter"

<PageTitle>Calculator</PageTitle>
<p>Ferst Number</p>
<input inputmode="numeric" @bind-value="firstNumber"/>
<p>Second Number</p>
<input inputmode="numeric" @bind-value="secondNumber"/>
<button @onclick="Sum">Sum</button>
<button @onclick="Sub">Sub</button>
<button @onclick="Div">Div</button>
<button @onclick="Inc">Inc</button>
<p>Result</p>
<h2>@result</h2>

<h1 style="color:red">@errorMassage</h1>
@code {
    private string firstNumber  { get; set; }  = "111";
    private string secondNumber  { get; set; }  = "222";

    private int result { get; set; } = 0;

    private void Sum()
    {
        var firstNumberResult = 0;
        var secondNumberResulr = 0;
        if (int.TryParse(firstNumber, out firstNumberResult) & int.TryParse(secondNumber, out secondNumberResulr))
        {
            result = firstNumberResult + secondNumberResulr;
            errorMassage = "";
        }
        else
        {
            errorMassage = "ЧИСЛА";
        }
    }
     private void Div()
    {
        var firstNumberResult = 0;
        var secondNumberResulr = 0;
        if (int.TryParse(firstNumber, out firstNumberResult) & int.TryParse(secondNumber, out secondNumberResulr))
        {
            result = firstNumberResult / secondNumberResulr;
            errorMassage = "";
        }
        else
        {
            errorMassage = "ЧИСЛА";
        }
    }
     private void Inc()
    {
        var firstNumberResult = 0;
        var secondNumberResulr = 0;
        if (int.TryParse(firstNumber, out firstNumberResult) & int.TryParse(secondNumber, out secondNumberResulr))
        {
            result = firstNumberResult * secondNumberResulr;
            errorMassage = "";
        }
        else
        {
            errorMassage = "ЧИСЛА";
        }
    }
     private void Sub()
    {
        var firstNumberResult = 0;
        var secondNumberResulr = 0;
        if (int.TryParse(firstNumber, out firstNumberResult) & int.TryParse(secondNumber, out secondNumberResulr))
        {
            result = firstNumberResult - secondNumberResulr;
            errorMassage = "";
        }
        else
        {
            errorMassage = "ЧИСЛА";
        }
    }

    private string errorMassage { get; set; } = "";
}
