@page "/"

<PageTitle>Интернет-магазин комплектующих пк</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-4">
            <h3>Категории</h3>
            <a class="bebra" href="Enclosures">Корпусы</a>
            <img class="img" src="image/корп.png" width="50" height="50">
            <a class="bebra" href="MatPlata">Материнская плата</a>
            <img class="img" src="image/матплата.png" width="50" height="50">
            <a class="bebra" href="Processors">Процессоры</a>
            <img class="img" src="image/процессор.png" width="50" height="50">
            <a class="bebra" href="RAM">Оперативная память</a>
            <img class="img" src="image/рам.png" width="50" height="50">
            <a class="bebra" href="Videocard">Видеокарты</a>
            <img class="img" src="image/видюха.png" width="50" height="50">

        </div>
        <div class="col-8">
            <div class="whoweare__video">
                <iframe width="700" height="411" src="https://www.youtube.com/embed/L9ZwCLNAW4A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>
<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Актуальность. <span class="text-muted">В чём же заключается наша актуальность?</span></h2>
        <p class="lead">Мы работаем только с поставщиками,которые единовременно обновляют свой ассортимент товара.</p>
    </div>
    <div class="col-md-5">
       <img src="/image/аналитика.svg" width="500" height="500">

    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Надёжность. <span class="text-muted">Как происходит поставка продукта?</span></h2>
        <p class="lead">Наша продукция проверяется на стадии доставки, так что вы можете не беспокоиться о ее качестве.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="/image/Надежность.svg" width="500" height="500">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Универсальность. <span class="text-muted">Почему вам стоит выбрать именно нашу продукцию?</span></h2>
        <p class="lead">Мы продаем продукцию под любую ценовую категорию,нам не важно сколько у вас денег,нам важно дать вам качественный продукт.</p>
    </div>
    <div class="col-md-5">
        <img src="/image/лайк.svg" width="500" height="500">
    </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->
<div class="text"><h1><center>Партнёры</center></h1></div>
<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
        <img src="/image/gigabyte.png"  width="300" height="200"  role="img" aria-label="Placeholder: 250x200" x="50%" y="50%" fill="#777" dy=".3em">
            <h2>Gigabyte</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="/image/ryzen.jpg"  width="300" height="200"  role="img" aria-label="Placeholder: 250x200" x="50%" y="50%" fill="#777" dy=".3em">

            <h2>Ryzen</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
           
          <img src="/image/intel.jpg"  width="300" height="200"  role="img" aria-label="Placeholder: 250x200" x="50%" y="50%" fill="#777" dy=".3em">

            <h2>Intel</h2>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>
<div class="text"><h1><center>Новости</center></h1></div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">О мире игр</strong>
          <h3 class="mb-0">Dota 2 vs LOL</h3>
          <div class="mb-1 text-muted">25 июня</div>
          <p class="card-text mb-auto">В данном посте вы узнаете какая же moba всё-таки лучшая в своём жанре.</p>
          <a href="https://mmogamesbase.com/articles/dota-2-vs-league-of-legends.html" class="stretched-link">Продолжить чтение</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/image/dota-2-vs-lol.jpg" width="200" height="250"  role="img" aria-label="Placeholder: 200x250"  x="50%" y="50%" fill="#eceeef" dy=".3em">

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Выбираем водяное охлаждение</strong>
          <h3 class="mb-0">От бюджетного до самого жирного</h3>
          <div class="mb-1 text-muted">26 июня</div>
          <p class="mb-auto">Данный пост раскроет для вас все прелести сво и заставит вас подумать о покупке данного средства для вашего пк.</p>
          <a href="https://club.dns-shop.ru/blog/t-106-jidkostnoe-ohlajdenie/16785-kak-vyibrat-sistemu-jidkostnogo-ohlajdeniya/?utm_referrer=https%3A%2F%2Fyandex.ru%2F" class="stretched-link">Продолжить чтение</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="/image/идкое охлаждение.jpg" width="200" height="250"  role="img" aria-label="Placeholder: 200x250"  x="50%" y="50%" fill="#eceeef" dy=".3em">
        </div>
      </div>
    </div>
        <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Ryzen или же Intel?Что лучше?</strong>
          <h3 class="mb-0">Самое легендарное противостояние в индустрии процессоров</h3>
          <div class="mb-1 text-muted">27 июня</div>
          <p class="mb-auto">Мы не стали ввязываться в холивары и просто разобрали самые сильные и слабые стороны процессоров Intel и AMD. Делайте выбор с умом.</p>
          <a href="https://zen.yandex.ru/media/ichip.ru/amd-ili-intel-chi-processory-luchshe-61c0768f48334379184ec5e6" class="stretched-link">Продолжить чтение</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="/image/ryzen vs intel.jpg" width="200" height="250"  role="img" aria-label="Placeholder: 200x250"  x="50%" y="50%" fill="#eceeef" dy=".3em">
        </div>
      </div>
    </div>
        <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Сборка бюджетного пк в 2022 году</strong>
          <h3 class="mb-0">Зучит практически невозможно,но мы постарались найти для вас именно то,что вам нужно.</h3>
          <div class="mb-1 text-muted">28 июня</div>
          <p class="card-text mb-auto">От самого бюджетного до среднечка по всем фронтам.</p>
          <a href="https://hi-tech.mail.ru/review/57850-sobiraem-igrovoy-pk-v-2022-godu-tri-varianta-byudzheta/?ysclid=l4i5mhzkeg339343220" class="stretched-link">Продолжить чтение</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="/image/пк.jpg" width="200" height="250"  role="img" aria-label="Placeholder: 200x250"  x="50%" y="50%" fill="#eceeef" dy=".3em">
        </div>
      </div>
    </div>
  </div>
 <!-- Custom styles for this template -->
<div class="b-example-divider"></div>


<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-2">
        <h5>Наши новости</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="https://mmogamesbase.com/articles/dota-2-vs-league-of-legends.html" class="nav-link p-0 text-muted">О мире игр</a></li>
          <li class="nav-item mb-2"><a href="https://zen.yandex.ru/media/ichip.ru/amd-ili-intel-chi-processory-luchshe-61c0768f48334379184ec5e6" class="nav-link p-0 text-muted">Ryzen или же Intel?Что лучше? </a></li>
          <li class="nav-item mb-2"><a href="https://club.dns-shop.ru/blog/t-106-jidkostnoe-ohlajdenie/16785-kak-vyibrat-sistemu-jidkostnogo-ohlajdeniya/?utm_referrer=https%3A%2F%2Fyandex.ru%2F" class="nav-link p-0 text-muted">Выбираем водяное охлаждение</a></li>
          <li class="nav-item mb-2"><a href="https://hi-tech.mail.ru/review/57850-sobiraem-igrovoy-pk-v-2022-godu-tri-varianta-byudzheta/?" class="nav-link p-0 text-muted">Сборка бюджетного пк в 2022 году</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5>Наши продукты</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="" class="nav-link p-0 text-muted">Корпусы</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Материнская плата</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Процессоры</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Оперативная память</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Видеокарты</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5>Главная</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Отзывы</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Избранное</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Корзина</a></li>
        </ul>
      </div>

      <div class="col-4 offset-1">
        <form>
          <h5>Подписывайтесь на нашу новостную рассылку</h5>
          <p>Ежемесячный дайджест всего нового и интересного от нас.</p>
          <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Введите свой email</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Подписаться</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex justify-content-between py-4 my-4 border-top">
      <p>&copy; 2022 Vancez. Все права защищены.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </div>
  </footer>
</div>