@page "/Reviews"
<div class="comments">
<h3 class="title-comments">Отзывы (6)</h3>
<ul class="media-list">
  <!-- Комментарий (уровень 1) -->
  <li class="media">
    <div class="media-left">
        <img src="../image/a1..jpg" />
    </div>
    <div class="media-body">
      <div class="media-heading">
        <div class="author">Антон</div>
        <div class="metadata">
          <span class="date">16 июня 2022, 13:43</span>
        </div>
      </div>
      <div class="media-text text-justify">Удобный и практичный магазин комплектующих.Собрал себе свежую сборку,ничего не сгорело в первый день,всё отлично работает.Если вы ищёте сайт где можно собрать достойную сборку пк,а также узнать последние новости из мира игр и комплектующих пк,то советую посетить данный сайт,очень рекомендую!</div>
      <div class="footer-comment">
        <a class="btn btn-default" href="#">Ответить</a>
      </div>
      <hr>
      <!-- Вложенный медиа-компонент (уровень 2) -->
      <div class="media">
        <div class="media-left">
           <img src="../image/a2.jpg" />
        </div>
        <div class="media-body">
          <div class="media-heading">
            <div class="author">Михаил</div>
            <div class="metadata">
              <span class="date">19 июня 2022, 10:28</span>
            </div>
          </div>
          <div class="media-text text-justify">Доставка прошла быстро и спокйно без лишней суеты,магазин оказал качественную работу,чем он и заслуживает высокую оценку.Советую закупаться комплектующими для пк именно здесь.</div>
          <div class="footer-comment">
            <a class="btn btn-default" href="#">Ответить</a>
          </div>
		      <hr>
          
		      <!-- Вложенный медиа-компонент (уровень 3) -->
          <div class="media">
            <div class="media-left">
               <img src="../image/a3.jpg" />
            </div>
            <div class="media-body">
              <div class="media-heading">
                <div class="author">Алексей</div>
                <div class="metadata">
                  <span class="date">Вчера в 19:34</span>
                </div>
              </div>
              <div class="media-text text-justify">Заказывал новый корпус для апгрейда своего пк,всё прищло в целости и сохранности.Сотрудники хорошо делают свою работу,при заказе возникли некоторые вопросы,но служба поддержки вовремя помогла их решить,за что я им благодарен.Магазин к покупке рекомендую однозначно!</div>
              <div class="footer-comment">
                <a class="btn btn-default" href="#">Ответить</a>
              </div>
              <hr>
            </div>
          </div>
          <!-- Конец вложенного комментария (уровень 3) -->
		  
        </div>
      </div>
	    <!-- Конец вложенного комментария (уровень 2) -->
 
      <!-- Ещё один вложенный медиа-компонент (уровень 2) -->
      <div class="media">
        <div class="media-left">
           <img src="../image/a4.jpg" />
        </div>
        <div class="media-body">
          <div class="media-heading">
            <div class="author">Сергей</div>
            <div class="metadata">
              <span class="date">20 июня 2022, 17:45</span>
            </div>
          </div>
          <div class="media-text text-justify">Вчера сгорела материнская плата на пк,не долго думаю зашёл на данный сайт по рекмендации друга.Удивил ассортимент и разнообразие товара,друг не обманул,сайт действительно хороший.</div>
          <div class="footer-comment">
            <a class="btn btn-default" href="#">Ответить</a>
          </div>
          <hr>
        </div>
      </div>
      <!-- Конец ещё одного вложенного комментария (уровень 2) -->

  	</div>
  </li>
  <!-- Конец комментария (уровень 1) -->
  
  <!-- Комментарий (уровень 1) -->
  <li class="media">
    <div class="media-left">
         <img src="../image/a5.jpg" />
    </div>
    <div class="media-body">
      <div class="media-heading">
        <div class="author">Иван</div>
        <div class="metadata">
          <span class="date">Вчера в 17:34</span>
        </div>
      </div>
      <div class="media-text text-justify">Сайт тянет на твёрдую троечку,особо меня ничем не впечатлил,хоть и интерфейс удобный,но как по мне,чего-то не хватает,можно разбавить немного ассортимента,ну или добавить чего-нибудь нового.</div>
      <div class="footer-comment">
        <a class="btn btn-default" href="#">Ответить</a>
      </div>
      <hr>
    </div>
  </li>
  <!-- Конец комментария (уровень 1) -->
  
  <!-- Комментарий (уровень 1) -->
  <li class="media">
    <div class="media-left">
       <img src="../image/a6.jpg" />
    </div>
    <div class="media-body">
      <div class="media-heading">
        <div class="author">Кирилл</div>
        <div class="metadata">
          <span class="date">3 минуты назад</span>
        </div>
      </div>
      <div class="media-text text-justify">С Иваном не согласен,сайт молодой и ему есть куда расти,если он будет в правильных руках.Так же могу подтвердить свои слова,делал здесь недавно покупку видеокарты,пришла свежая,вся в плёночках.Продавец контактирует на прямую с известными поставщиками,а не с перекупами.Можете не переживать за свои деньги,они будут вложены в качественный товар)</div>
      <div class="footer-comment">
        <a class="btn btn-default" href="#">Ответить</a>
      </div>
      <hr>
    </div>
  </li>
  <!-- Конец комментария (уровень 1) -->
  
</ul>
</div>
