<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><img src="/image/computer_icon_188895.png" class="nav-link px-2 text-white name-logo"></li>
          <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
          <li><a href="Reviews" class="nav-link px-2 text-white">Отзывы</a></li>
          <li><a href="Contacts" class="nav-link px-2 text-white">Контакты</a></li>
          <li><a href="Basket.razor" class="nav-link px-2 text-white">Корзина</a></li>
          <li class="nav-link px-4 text-green name-firm">RAZEN SHTORM</li>
      </ul>
      </div>
    </div>
  </header>